body {
	width: 36em;
	margin: 4em;
}
img, video {
	display: block;
	margin: 1em auto;
}
pre {
	background-color: LightGrey;
	margin: 1em;
	padding: .5em;
	overflow-x: scroll;
	tab-size: 4;
}
code {
	background-color: LightGrey;
}
td, th {
	border: 1pt solid black;
	margin: 0em;
	padding: .25em;
	text-align: center;
}
.figures td {
	border: none;
	margin: 0;
	padding: 0;
}
#sidebar {
	position: absolute;
	left: 42em;
	width: 8em;
}
#sidebar > h4 {
	margin-block-start:.5em;
	margin-block-end:.5em;
}
#sidebar > ul {
	margin-block-start:.5em;
	margin-block-end:.5em;
	padding-inline-start:1.5em;
}